<!-- A partial to be overwritten by the user.
     Its content will appear before the closing </head>-tag -->

<!-- Custom CSS via inline styles
     You may use this template to add custom CSS to your site like so: -->

<!--

     Logo blue: #38b6ff
     Logo Green: #7ed957

-->


 <style>
     /* Links */
     a {
          text-decoration: none;
          color: #38b6ff;
      }     
      a:hover {
          color: #7ed957;
      }
     .post-holder a {
          color: #38b6ff;
     }
     .post-holder a:hover {
          color: #6fcf46;
      } 
     .post-holder.odd a {
          color: #143c54;
     }
     .post-holder.odd a:hover {
          color: #284a1a;
     }     


     /* Header Buttons on Startpage */
     a.btn {
          position: relative;
          color: white;
          background-image: linear-gradient(30deg, #2f80b6 0%, #b6c120 100%);     
          z-index: 1;
     }
     a.btn::before {
          position: absolute;
          content: "";
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background-image: linear-gradient(30deg, rgb(0, 153, 255) 0%, #eeff00 100%);     
          z-index: -1;
          transition: opacity 0.5s linear;
          opacity: 0;
          border-radius:6px;
     }
     a.btn:hover::before{
          opacity: 1;
     }

     /* Scroll Menu on Startpage */
     a.fn-item {
          color: #e1e1e1;
     }
     a.fn-item.active {
          color: #2f80b6;
     }
     a.fn-item:hover {
          color: #469dd7;
     }

     /* Content / Sections */
     .post-title,
     .page h1,
     .post-holder.odd {
          background: #58900f;
          background: rgb(56, 182, 255);
          background: linear-gradient(45deg, rgba(56, 182, 255,1) 0%, rgba(126, 217, 87,1) 100%);          
     }
     .post-holder {
          background: #212121;
          color: #c6c6c6;
     }

     .post-holder.odd, .post-holder.odd h2 {
          color: #212121;
     }    

     #site-head {
          background: black;
          min-height:760px;
     }
     #site-head .logo {
          width:100%;
     }
     body {
          background: #212121;          
          color: #3A4145;
          color: #c6c6c6;
     }
     .post-title,
     .page h1 {
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
     }

     .post-holder.odd .post-title {
          background: transparent;
          -webkit-background-clip: border-box;
          -webkit-text-fill-color: #3A4145;
     }

     .page .post-header {
       margin-bottom: 2em;
       text-align: right;
       width:100%;
       background-color:black;
       border-radius:6px;
     }
     .post-content h1 {
          font-size:4rem;
      }



     h5, h2 {
          color:white
     }


     /* Footer */
     .site-footer {
          color: #878787;
          background-color: #212121;
     }
     img {
          border-radius: 8px;
     }
     /*
     .blog-title {
          color: white;
          font-size:3.5em;
          -webkit-text-stroke-width: 1px;
          -webkit-text-stroke-color: black;
     }
     .blog-description {
          color: white;
          background:#3a41454d;
          border-radius:10px;
          padding:1em;
     }*/

     /*
     .main-nav {
          text-align:center;
          position: relative;
          top:-6em;
          max-height:0px;
     }*/
     
     .main-nav a {
       margin:1em 0.2em;
     }

     #TableOfContents ul {
          font-size:0.8em;
          padding-inline-start:0px;
     }

     #TableOfContents ul li{
          margin-left:0px;
     }

     #TableOfContents ul span {
          display:none;
     }


</style>

<script src="https://kit.fontawesome.com/65eb2ba791.js" crossorigin="anonymous"></script>

<!-- Custom CSS via "custom.css"-file
     If you would rather place your custom CSS into
     a separate file, create a "custom.css" in your
     local "static/css"-directory. Then add a <link>-tag
     referencing your "custom.css" like so: -->

<!-- <link rel="stylesheet" href='{{ "css/custom.css" | absURL }}'> -->

<!-- Custom CSS: Color Codes
     You may checkout https://htmlcolorcodes.com/ to get those
     weird color codes (like "#22343A") ;-). -->

<!-- Custom link-tags for different icons
     Generated via https://favicon.io/favicon-generator/ -->

<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="{{ "images/apple-touch-icon.png" | absURL }}"
/>
<link
  rel="icon"
  type="image/png"
  sizes="32x32"
  href="{{ "images/favicon-32x32.png" | absURL }}"
/>
<link
  rel="icon"
  type="image/png"
  sizes="16x16"
  href="{{ "images/favicon-16x16.png" | absURL }}"
/>
